@model SuccesTransferViewModel

<div class="col-md-6">
    <div class="card border-success mb-e">
        <div class="card-header ">
            Transfer succesfull
        </div>
        <div class="card-body">
            <labe>Token @Model.Token</labe>
            <label>This token is available for 10 day. Use it to find the status of the transfer. Thank you!</label>
        </div>
    </div>
</div>
